@import "tailwindcss";

:root {
    color-scheme: light dark;
}

body {
    @apply bg-white text-gray-900 antialiased;
}

.container {
    @apply max-w-full sm:max-w-6xl mx-auto px-3 sm:p-4 md:px-6;
}

.card {
    @apply border rounded-md p-3 sm:p-4 bg-white shadow-sm;
}

.chart {
    height: 260px;
}

@media (min-width: 640px) {
    .chart {
        height: 320px;
    }
}

@media (min-width: 1024px) {
    .chart {
        height: 380px;
    }
}

